* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body { 
    font-family:'Filmotype Austin' ;
}
/* Nav Bar */
.mm-navbar {
    background-color: #fca311;
    /* display: none !important; */
}
.nav-link { 
    color: #14213D !important;
    font-size: 2rem;
}
.navbar-brand { 
    color: #14213D !important;
    text-shadow: 0.1rem 0.1rem #fff !important;
    font-size: 2rem;
}
.navbar-toggler { 
    color: #fca311 !important;
    border-color: #fca311 !important;
}
.nav-item {
    display: flex;
    align-items: center !important;
}
.mm-navAutres { 
    width: 100%;
}
/* Section acceuil */
#accueil {
    scroll-margin-top: 10rem;
    background-color: #ffffff;
    padding: 1rem;
    min-height: 100vh auto;
}
.mm-titreAccueil {
    color: #14213D;
    font-size: 7rem  !important;
    text-shadow: 0.5rem 0.5rem #fca311;
}
.mm-posteAccueil { 
    color: #14213D;
    font-size: 3.5rem;
    font-family: 'Comic Neue';
}
.imgAccueil {
    top: 5em;
    -webkit-filter: drop-shadow(2rem 2rem #fca311);
    filter: drop-shadow(0.7rem 0.3rem #fca311);
    max-height: 65vh;
    z-index: 1;
}
.socialMedia a{
    text-decoration: none
}
    /* Animation */
    .icon { 
        display: inline-block;
        font-size: 45px;
        animation: float 5s ease-in-out infinite;
        color: #fca311;
    }
    .mm-instagram {
        animation-delay: 0.5s;
    }
    .mm-linkedin {
        animation-delay: 1s;
    }
    .mm-whatsapp {
        animation-delay: 1.5s;
    }
    .mm-gmail {
        animation-delay: 2s;
    }
    .mm-cvPdf {
        animation-delay: 2.5s;
    }
    @keyframes float {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-15px);
        }
        100%{
            transform: translateY(0);
        }
    }
    .icon:hover {
        color :#14213D;
    }
    /* Bouton en savoir plus */
    .button-aboutMe {
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        color: #fca311;
        outline: 2px solid #fca311;
        border-radius: 5%;
        padding: 1rem 2rem;
    }
    .button-aboutMe:hover { 
        background-color :#fca311;
        color: #ffffff;
        font-weight: bold;
    }

/* Section Profil */
#profil {
    background-color: #14213D;
    color: #fff;
    scroll-margin-top: 10vh;
    min-height: 90vh auto;
}
.mm-titreProfil {
    font-size: 4rem;
    margin-left: 5%;
}
.mm-textProfil {
    font-family: 'Comic Neue';
    font-size: 1.4rem;
    padding: 6rem;
}
.imgProfil {
    -webkit-filter: drop-shadow(2rem 2rem #fca311);
    filter: drop-shadow(0.4rem 0.2rem #ffffff);
    max-height: 70vh;
}

/* Section Formations */
#formations {
    background-color: #E5E5E5;
    color:#14213D;
    scroll-margin-top: 10vh;
    min-height: 90vh;
}
.mm-titreFormations { 
    font-size: 5rem;
    margin-right: 2rem;
}
.boutonCarousel {
    padding : 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconCarou { 
    font-size: 3rem;
    color: #14213D;
}
.precedent, .suivant { 
    cursor: pointer;
}
.CarouselFormations { 
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.card { 
    width: 30rem;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem;
}
.card:hover { 
    border: 0.5rem solid #14213D;
}
.card-img-top {
    max-width: 14vw;
}
/* Contact */
#mm-contact {
    min-height: 100vh;
    background-color: #fca311;
    scroll-margin-top: 5vh;
    color:#fff;
}
.titreContact { 
    font-size: 5rem;
    padding-top : 2rem;
    text-align: center;
    text-shadow: .2rem .2rem #fff;
}
#zoneImgContact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
}
.imgContact {
    max-height: 40vw;
}
.lordicon {
    width: 4rem;
    height: 4rem;
}
#ReseauxContact, #methodContact, #formContact {
    color: #fff;
}
#methodContact { 
    margin-top: 1rem;
}
.titreSocialMediaContact{
    font-family: 'Comic Neue';
    font-size: 1.7rem;
    margin-top: 1rem;
}
.socialMediaContact { 
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: space-between;
}
.methodContact { 
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.iconCon{
    width: 2rem;
    height: 2rem;
}
.iconContact { 
    text-decoration: none;
    padding: 1rem;
    background-color: #fca311;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #14213D, -5px -5px 10px #fca311;
}
.iconContact:hover { 
    animation: shadow 2.5s infinite linear;
    background-color: #14213D;
}
.iconContact:focus{
    box-shadow: inset 10px 10px 20px #a16608, inset 5px -5px 10px #fca311;
}
@keyframes shadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 
        inset 10px 10px 20px #a16608, inset 5px -5px 10px #fca311;
    }
}
.contactForm { 
    font-size: 1rem;
    margin: 0 20% 0 20%;
    color: #fff;
}
.form-control {
    background-color: #fca311 !important;
    border-bottom: 2px solid #14213D !important;
    border-top : none !important;
    border-left: none !important;
    border-right: none !important;
}
.boutonValider {
    margin-left: 2rem;
    background-color: #14213D;
    color: #fff;
    border: none;
}
.boutonValider:hover {
    background-color: #fca311;
    color: #fff;
    border: 2px solid #14213D;
}