* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 31px none #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fca311;
}
::-webkit-scrollbar-thumb:active {
    background: #fca311;
}
::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: none;
}
::-webkit-scrollbar-track:active {
    background: #f5f5f5;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body { 
    font-family:'Filmotype Austin' ;
}
/* Nav Bar */
.mm-navbar {
    background-color: #fca311;
}
.nav-link { 
    color: #14213D !important;
    font-size: 2rem;
}
.navbar-brand { 
    color: #14213D !important;
    text-shadow: 0.1rem 0.1rem #fff !important;
    font-size: 2rem;
}
.navbar-toggler { 
    color: #fca311 !important;
    border-color: #fca311 !important;
}
.nav-item {
    display: flex;
    align-items: center !important;
}
.mm-navAutres { 
    width: 100%;
}

/* Bouton retour haut */
.mm-boutonHaut a { 
    color: #fca311;
    background-color: #14213D;
    border-radius: 48%;
    opacity: 0.8;
}
.mm-boutonHaut :hover { 
    opacity: 1;
    color: #fff !important;
}

/* Section acceuil */
#accueil {
    margin-top: 17vh;
    scroll-margin-top: 10rem;
    background-color: #ffffff;
}
.mm-titreAccueil {
    color: #14213D;
    font-size: 7rem  !important;
    text-shadow: 0.5rem 0.5rem #fca311;
}
.mm-posteAccueil { 
    color: #14213D;
    font-size: 3.5rem;
    font-family: 'Comic Neue';
}
.imgAccueil {
    top: 5em;
    -webkit-filter: drop-shadow(2rem 2rem #fca311);
    filter: drop-shadow(0.7rem 0.3rem #fca311);
    max-height: 60vh;
    z-index: 1;
}
.socialMedia a{
    text-decoration: none
}
    /* Animation */
    .icon { 
        display: inline-block;
        font-size: 45px;
        animation: float 5s ease-in-out infinite;
        color: #fca311;
    }
    .mm-instagram {
        animation-delay: 0.5s;
    }
    .mm-linkedin {
        animation-delay: 1s;
    }
    .mm-whatsapp {
        animation-delay: 1.5s;
    }
    .mm-gmail {
        animation-delay: 2s;
    }
    .mm-cvPdf {
        animation-delay: 2.5s;
    }
    @keyframes float {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-15px);
        }
        100%{
            transform: translateY(0);
        }
    }
    .icon:hover {
        color :#14213D;
    }
/* Bouton en savoir plus */
.button-aboutMe {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fca311;
    outline: 2px solid #fca311;
    border-radius: 5%;
    padding: 1rem 2rem;
}
.button-aboutMe:hover { 
    background-color :#fca311;
    color: #ffffff;
    font-weight: bold;
}

/* Section Profil */
#profil {
    background-color: #14213D;
    color: #fff;
    scroll-margin-top: 5rem;
}
.mm-titreProfil {
    font-size: 5rem;
    margin-left: 5%;
}
.mm-textProfil {
    font-family: 'Comic Neue';
    font-size: 1.4rem;
    padding: 6rem;
}
.imgProfil {
    -webkit-filter: drop-shadow(2rem 2rem #fca311);
    filter: drop-shadow(0.4rem 0.2rem #ffffff);
    max-height: 70vh;
}

/* Section Formations */
#formations {
    background-color: #E5E5E5;
    color:#14213D;
    scroll-margin-top: 5rem;
    height: 100vh;
}
.mm-titreFormations { 
    font-size: 5rem;
    margin-right: 10%;
    margin-bottom: 4rem;
}
.missions{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Comic Neue';
}
.colormission{
    color: #fff;
    font-family: 'Comic Neue';
    font-size: 1.5rem;
}
.titlemission{
    font-weight: bolder;
    font-size: 1.8rem;
    color: #fff;
}
.carousel-item{
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}
.yearFormation { 
    color: #14213D;
    font-size: 1.8rem;
}
.formcarou{
    width: 100%;
    height: 300px;
    background-color: #fca311;
    border-radius: 25px;
    padding-top: 6%;
}
.carousel-item .active{
    padding: 0 !important;
}
.carousel-control-prev, .carousel-control-next {
    color: #14213D !important;
}

/* Compétences */
#competences { 
    background-color: #fff;
    color:#14213D;
    scroll-margin-top: 5rem;
    height: 90vh;
}
.titreLogiciels { 
    font-family: 'Comic Neue';
    font-size : 1.6rem;
}
.titreCompetences {
    font-size: 5rem;
}
.compLogo {
    max-width: 65px;
    max-height: 65px;
}
.logo, .logo2, .logo3 {
    transition: .2s;
    margin: 0.2rem;
}
.js { 
    border-radius: 10px;
}
/* .logo:hover { 
    transform: translate(-15px, -5px) rotate(-15deg) skew(-10deg);
}
.logo2:hover { 
    transform: translate(-5px, 15px) rotate(-20deg) skew(-10deg);
}
.logo3:hover { 
    transform: translate(5px, 15px) rotate(30deg) skew(10deg);
} */
.graphique {
    display: flex;
    flex-direction: column;
}
.bloc2 { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
/* PS */
#progressPs>.progress-bar {
    background-color: #2DAAFF !important;
}
/* AI */
#progressAi>.progress-bar {
    background-color: #F19000 !important;
}
/* ID */
#progressId>.progress-bar {
    background-color: #FF3066 !important;
}
/* XD */
#progressXd>.progress-bar {
    background-color: #FF61F6 !important;
}
/* AE */
#progressAe>.progress-bar {
    background-color: #9A9AFF !important;
}
/* PR */
#progressPr>.progress-bar {
    background-color: #9A9AFF !important;
}

/* All */
.progress { 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.progress:hover { 
    opacity: 1;
}

/* Animation Rainbow */
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
.rainbow1 {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
}
.rainbow1::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#14213D, #1f376b, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fca311), linear-gradient(#fff, #fff);
    animation: rotate 6s linear infinite;
}
.rainbow1::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
.rainbow2 {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.rainbow2::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#fca311, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #1f376b, #14213D), linear-gradient(#fff, #fff);
    animation: rotate 6s linear infinite;
}
.rainbow2::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

/* Experiences */
#experiences {
    min-height: 100vh;
    background: #14213D;
    scroll-margin-top: 4rem;
    color:#ffffff;
}
.titreExperiences { 
    font-size: 5rem;
    padding-top : 2rem;
}
#blocExperiences {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue';
    position: relative;
    margin: -100px;
}
#blocExperiences::before {
    content: "";
    background: #393e46;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    top: 0;
}
#experiences .card {
    position: relative;
}
#experiences .card .cover {
    width: 300px;
    height: 300px;
    transition: 0.5s;
}
#experiences .card .cover.closed {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
}
#experiences .card:hover .cover.closed {
    transform: translateY(0);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);

}
#experiences .card .cover.closed .card_content {
    opacity: 0.8;
    transition: 0.8s;
    text-align: center;
}
#experiences .card:hover .cover.closed .card_content {
    opacity: 1;
}
#experiences .card .cover.closed .card_content img {
    padding: 3em;
}
#experiences .card .cover.closed h3 {
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#experiences .card .cover.open {
    background-color: #fff;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.card_text {
    text-align: center;
    display: inline-block;
    margin-top: 12px;
    font-family: 'Comic Neue';
}
.card_text .title {
    color: #14213D;
    font-weight: bold;
    font-size: 2rem;
}
.card_text .text_container {
    margin-top: 6px;
    max-height: 200px;
    height: fit-content;
    overflow-y: auto;
    padding: 4px;
}
.card_text .text_container p {
    color: #393e46;
    font-size: 0.8rem;
    font-weight: 300;
}
#experiences .card:hover .cover.open {
    transform: translateY(0);
}
.card_button {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fca311;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    transition: 100ms linear;
}
.card_button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}
.card_button:hover {
    background: #5c6577;
    transition: 100ms linear;
}
/* Naval Group */
.navalgroup {
    background: #ffffff;
}
#experiences .card:hover .cover.closed.navalgroup {
    transform: rotate(3deg);
}
/* Elegance Marine */
.eleganceMarine {
    background: #00335F;
}
#experiences .card:hover .cover.closed.eleganceMarine {
    transform: rotate(-2deg);
}
/* Café Maurice */
.cafeMaurice { 
    background: #fff;
}
#experiences .card:hover .cover.closed.cafeMaurice {
    transform: rotate(-2deg);
}
/* Rotary */
.rotaryInternational { 
    background: #fff;
}
#experiences .card:hover .cover.closed.rotaryInternational {
    transform: rotate(3deg);
}
.card{
    background:none !important;
    border:none !important;
    margin: 2rem;
}

/* Contact */
#mm-contact {
    min-height: 100vh;
    background-color: #fca311;
    scroll-margin-top: 2rem;
    color:#14213D;
}
.titreContact { 
    font-size: 5rem;
    padding-top : 2rem;
    text-align: center;
    text-shadow: .2rem .2rem #fff;
}
#ReseauxContact, #methodContact, #formContact {
    color: #fff;
}
#methodContact { 
    margin-top: 1rem;
}
.titreSocialMediaContact{
    font-family: 'Comic Neue';
    font-size: 1.7rem;
    margin-top: 1rem;
    /* margin-left: 8rem; */
}
.socialMediaContact { 
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: space-between;
}
.methodContact { 
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: space-around;
}
.zoneFormulaire {
    padding : 0 8rem 0 8rem;
}
.iconCon{
    width: 50px;
    height: 50px;
}
.iconContact { 
    text-decoration: none;
    padding: 5px;
    background-color: #fca311;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #a16608, -5px -5px 10px #fca311;
}
.iconContact:hover { 
    animation: shadow 2.5s infinite linear;
    background-color: #14213D;
}
.iconContact:focus{
    box-shadow: inset 10px 10px 20px #a16608, inset 5px -5px 10px #fca311;

}
@keyframes shadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 
        inset 10px 10px 20px #a16608, inset 5px -5px 10px #fca311;
    }
}
.contactForm { 
    /* color: #14213D; */
    font-size: 1rem;
    margin: 0 20% 0 20%;
    color: #fff;
}
.form-control {
    background-color: #fca311 !important;
    border-bottom: 2px solid #14213D !important;
    border-top : none !important;
    border-left: none !important;
    border-right: none !important;
}
.boutonValider {
    margin-left: 2rem;
    background-color: #14213D;
    color: #fff;
    border: none;
}
.boutonValider:hover {
    background-color: #fca311;
    color: #fff;
    border: 2px solid #14213D;
}